@import './base.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: ease-in-out .3s;
}

#app {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	background: var(--vt-c-verde);

}

header a {
	text-decoration: none;
	color: #fff;
	font-size: 24px;
}

header a:hover {
	color: var(--vt-c-verde-lima)
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	overflow: scroll;
	justify-content: center;
}

main * {
	color: var(--vt-c-negro);
}

nav {
	background: var(--vt-c-negro);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav img {
	width: 48px;
	height: 48px;
	margin-left: 20px;
}